## Junk
node_modules/
.vscode/


## Data files
data/logs/**
data/sqlite/**
!data/logs/.keepfile


## Python trash
# VENV, recreate and install dependencies before using
src/python/neural-style/venv/

src/python/neural-style/examples

# Do not upload user content
src/python/neural-style/image_input
src/python/neural-style/image_output
src/python/neural-style/video_input
src/python/neural-style/video_output
src/python/neural-style/styles
